services:
  quixote:
    image: ${QUIXOTE_IMAGE}
    command:
      - -r
      - ${RPC_CONFIG}
      - -c
      - 0x57f1887a8bf19b14fc0df6fd9b2acc9af147ea85
      - -e
      - Transfer(address indexed from, address indexed to, uint256 indexed tokenId)
      - -s
      - "23890166"
      - --api-server
      - "0.0.0.0:9720"
      - --metrics
      - --metrics-address
      - 0.0.0.0
      - --metrics-port
      - "5054"
      - --metrics-allow-origin
      - "*"
    env_file:
      - .env
    ports:
      - "5054:5054"
      - "9720:9720"

  prom-agent:
    image: prom/prometheus:v2.43.1
    volumes:
      - ./monitoring/prometheus/prometheus-config.yml:/etc/prometheus/prometheus.yml:ro
      - prometheus_data:/prometheus
    command:
      - --config.file=/etc/prometheus/prometheus.yml
    depends_on:
      - quixote
    ports:
      - 127.0.0.1:9090:9090

volumes:
  prometheus_data:
